@media (min-width: 992px) {
    div[data-extension-point="store/header/megamenu"] {
        width: 100%;
    }
    .mainNav nav .nav-item .nav-link img{
        display: none;
    }
    .mainNav nav .navbar-nav.navgroup:nth-child(2) .dropdown .dropdown-section .dropdown-section-title a {
        color:#BDBDBD;
    }
    #menu .d-xl-none{
        display: block !important;
    }
}
@media (max-width: 991px) {
    #menu .d-xl-none{
        display: none !important;
    }
    header .navbar .navbar-toggler span.navbar-toggler-icon{
        background-image: url("./img/menu_mobile.svg");
        width: 38px;
        height: 26px;
    }
    header #menu .icon.tlf{
        display: none;
    }
    header{
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
    }
    .render-container{
        margin-top: 138px;
    }
    .mainNav nav .dropdown .dropdown-section .dropdown-section-items{
        padding-bottom: 15px;
    }
    .mainNav nav .dropdown .dropdown-menu{
        height: calc(100vh - 95px) !important;
    }
    .mainNav nav .navgroup:nth-of-type(1) .nav-item .nav-link span.content-img {
        min-width: 35px;
    }
    .render-container.showmenu{
        margin-top: 0px;
    }
    #menu .navbar #navbarSupportedContent,
    .mainNav nav .dropdown .dropdown-menu.isGroup {
        background-color: #fbfaf9;
    }
    .mainNav nav .dropdown .dropdown-menu .return{
        text-transform: lowercase;
    }
    .mainNav nav .dropdown .dropdown-menu .return:first-letter {
        text-transform: capitalize;
    }
    
}